body {
    margin: auto 0px;
    background-color: #9C27B0;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

header {
    margin: 0px auto;
    background-color: #784481; 
    color: white;
}
nav {
    margin: 0px;
}
ul {
    margin: 0px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    cursor: pointer;
}

.section-imagen {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 50px auto;
}